@font-face {
    font-family: 'icomoon';
    src: url('icomoon.eot?utvetp');
    src: url('icomoon.eot?utvetp#iefix') format('embedded-opentype'), url('icomoon.ttf?utvetp') format('truetype'), url('icomoon.woff?utvetp') format('woff'), url('icomoon.svg?utvetp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.evolve-icon-hammer:before {
    content: "\e900";
}

.evolve-icon-file:before {
    content: "\e600";
}

.evolve-icon-file2:before {
    content: "\e601";
}

.evolve-icon-file3:before {
    content: "\e602";
}

.evolve-icon-file4:before {
    content: "\e603";
}

.evolve-icon-appbarsocialfacebook:before {
    content: "\e604";
}

.evolve-icon-appbarimagebacklight:before {
    content: "\e605";
}

.evolve-icon-appbarcart:before {
    content: "\e606";
}

.evolve-icon-appbarclipboardvariantedit:before {
    content: "\e607";
}

.evolve-icon-appbardrawbrush:before {
    content: "\e608";
}

.evolve-icon-appbardrawbutton:before {
    content: "\e609";
}

.evolve-icon-appbardrawpaintbrush:before {
    content: "\e60a";
}

.evolve-icon-appbargroup:before {
    content: "\e60b";
}

.evolve-icon-appbarheart:before {
    content: "\e60c";
}

.evolve-icon-appbarhome:before {
    content: "\e60d";
}

.evolve-icon-appbarchevrondown:before {
    content: "\e60e";
}

.evolve-icon-appbarimagemultiple:before {
    content: "\e60f";
}

.evolve-icon-appbarinbox:before {
    content: "\e610";
}

.evolve-icon-appbarlifesaver:before {
    content: "\e611";
}

.evolve-icon-appbarlineshorizontal4:before {
    content: "\e612";
}

.evolve-icon-appbarlistcheck:before {
    content: "\e613";
}

.evolve-icon-appbarlocationcheckin:before {
    content: "\e614";
}

.evolve-icon-appbarmagnify:before {
    content: "\e615";
}

.evolve-icon-appbarmonitor:before {
    content: "\e616";
}

.evolve-icon-appbarpagetext:before {
    content: "\e617";
}

.evolve-icon-appbarpin:before {
    content: "\e618";
}

.evolve-icon-appbarsettings:before {
    content: "\e619";
}

.evolve-icon-appbarsocialtwitter:before {
    content: "\e61a";
}

.evolve-icon-appbarsymbolbraces:before {
    content: "\e61b";
}

.evolve-icon-appbartextserif:before {
    content: "\e61c";
}

.evolve-icon-appbartools:before {
    content: "\e61d";
}

.evolve-icon-appbarvideogallery:before {
    content: "\e61e";
}

.evolve-icon-appbarwindowmaximize:before {
    content: "\e61f";
}

.evolve-icon-appbarimageselect:before {
    content: "\e620";
}

.evolve-icon-appbarlayer:before {
    content: "\e621";
}

.evolve-icon-star-full:before {
    content: "\e901";
}

.evolve-icon-titlebar:before {
    content: "\e601";
}