.evolve_metabox {
    padding: 10px 10px 0 10px;
}

.evolve_metabox_field {
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
}

.evolve_metabox_field label {
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    margin-right: 1%;
    width: 24%;
}

.evolve_metabox_field .field {
    float: left;
    width: 75%;
}

.evolve_metabox_field input[type=text] {
    width: 50%;
}

.evolve_metabox_field select {
    width: 40%;
}

.description {
    display: block;
    margin: 1em 0;
    padding-left: 25%;
}

.evolve_metabox_tabs i {
    font-size: 1;
    line-height: .8em;
    margin-right: 5px;
    vertical-align: middle;
}

#evolve_page_options .inside,
#evolve_post_options .inside,
#evolve_portfolio_options .inside,
#evolve_woocommerce_options .inside,
#evolve_slide_options .inside {
    margin: 0;
    padding: 0;
}

.evolve_metabox_tabs {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 0;
    width: 17%;
}

.evolve_metabox_tabs li {
    margin: 0;
    padding: 0;
    position: relative;
}

.evolve_metabox_tabs li a {
    background: #505050;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 8px 15px 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.evolve_metabox_tabs li.active a,
.evolve_metabox_tabs li.active a:hover {
    background-color: #fcfcfc;
    color: #23282d;
}

.evolve_metabox_tabs li a:hover {
    color: #fff;
}

.evolve_metabox_tabs li a:focus {
    box-shadow: none;
}

.evolve_metabox_main {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    padding: 0 30px;
    width: 83%;
}

.evolve_metabox_tab.active {
    display: block;
}

.evolve_metabox_tab {
    display: none;
}

.evolve_img_selected {
    border: 3px solid #aaa !important;
}

.evolve_img_border_radio {
    border: 3px solid #dedede;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    margin: 10px 5px 5px 0;
}

@media (max-width: 782px) {
    .evolve_metabox_tabs {
        width: 100%;
    }

    .evolve_metabox_main {
        padding: 0;
        width: 100%;
    }

    .evolve_metabox_field input[type=text] {
        width: 75%;
    }

    .evolve_metabox_field select {
        width: 75%;
    }
}

@media (min-width: 782px) and (max-width: 1200px) {
    .evolve_metabox_tabs {
        width: 30%;
    }

    .evolve_metabox_main {
        padding: 0;
        width: 70%;
    }

    .evolve_metabox_field input[type=text] {
        width: 75%;
    }

    .evolve_metabox_field select {
        width: 75%;
    }
}